.page-header{
    background: #333;
    color: #fff;
    padding: 16px;
}

.page-header .logo{
    float: left;
    margin-right: 32px;
}

.page-header .menu-header{
    float: left;
}
.page-header .menu-header{

}


